@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&family=Roboto&display=swap');

.navigation {
   font-family: 'Montserrat', sans-serif;
   color: white;
   font-weight: 300;
}

.navbar {
    background: #4a0258;
    font-family: 'Montserrat', sans-serif;
    
}

.navbar-brand {
    color: white;  
}

.jumbotron {
    background: linear-gradient(45deg,#f08058, #e14560);
    font-family: 'Montserrat', sans-serif;
    height: 900px;
    margin-bottom: 0;
    padding-bottom: 0;

}

h2 h3 {
    font-family: 'Montserrat', sans-serif;
}

.form {
    font-family: 'Montserrat', sans-serif;
}

.button {
    font-family: 'Montserrat', sans-serif;
    border-radius: 75%;
    background: #4a0258;

}

.waves {
    margin-top: 0;
    padding-top: 0;
}

.siteFooter {
    background: #4a0258;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 50px;
    position: absolute;
    width: 100%;
}

